@import url(sigup.css);

/*From the previous CSS file (sigup.css)*/

.test {
    display: none;
    transition: 0.5s ease-in;
}

.yet {
    color: #198859;
    margin-left: 5%;
    margin-top: 1em;
    text-align: left;
    text-decoration: none;
    font: 100% "verdana";
    cursor: pointer;
}