 * {
     margin: 0%;
     padding: 0%;
 }
 /* THIS IS THE CSS CODE FOR THE SIGN-UP PAGE */
 
 .sigup {
     max-width: 100%;
     max-height: 100%;
     background-size: cover;
     background-color: #191a19;
     resize: none;
     animation: none;
     margin: 0%;
     padding: 0%;
 }
 
 .sigup img {
     width: 15.5em;
     height: 15.5em;
     padding: 0px;
     margin-left: 40%;
     border-radius: 400em;
     position: relative;
 }
 
 #codo {
     width: 100%;
     resize: none;
     max-width: 75%;
     min-width: 50%;
     height: 90%;
     margin-left: 0;
     margin-bottom: 2%;
     margin-top: 3%;
     margin-right: 0;
     padding: 0;
     align-content: center;
     box-sizing: border-box;
 }
 
 .codo>input {
     width: 35%;
     height: 2.98em;
     max-width: 100%;
     margin-left: 32.5%;
     margin-right: 32.5%;
     margin-top: 0.13%;
     border: 0.15em solid #115a3b;
     border-radius: 0.3em;
     font: 95% 'Robobto';
     color: #969ba0;
     text-indent: 2%;
     background-color: #191a19;
     display: block;
     position: relative;
     object-position: center;
     text-decoration: none;
 }
 
 .codo>input:hover {
     text-decoration: none;
     animation: none;
     background-color: #191a19;
     font: inherit;
     border: 0.20em solid #16955f;
     border-radius: 0.4em;
     transition: ease-in-out;
 }
 
 .codo>input:active {
     border: 0.20em solid #16955f;
     background-color: #191a19;
     font: inherit;
     text-decoration: none;
 }
 
 .codo>input:focus {
     background-color: #191a19;
     border: 0.20em solid #16955f;
     font: inherit;
 }
 
 .codo a {
     width: 13%;
     height: 1.5%;
     max-width: 15%;
     margin-left: 42.5%;
     margin-top: 0.3%;
     padding: 1.3%;
     border: 2px;
     border-radius: 0.25em;
     font: 100% "verdana";
     text-align: center;
     background-color: #115a3b;
     color: #80817b;
     text-decoration: none;
     display: block;
 }
 
 .codo a:hover {
     border: 0.18em solid #16955f;
     border-radius: 0.4em;
     cursor: pointer;
     transition: ease-in-out;
 }
 
 .yet a {
     color: #198859;
     margin-left: 3.5%;
     margin-right: 4.3em;
     text-align: center;
     text-decoration: none;
     font: 90% "Ubuntu";
     margin-bottom: 10px;
 }
 
 .yet>a:hover {
     font: 100% "Ubuntu";
 }
 /* THIS IS THE CSS CODE FOR THE LOGIN PAGE*/
 
 .rewt {
     width: 100%;
     max-width: 100%;
     height: 65%;
     margin-bottom: 5px;
     margin-top: 15px;
     padding: 0;
     position: relative;
     align-content: center;
     box-sizing: border-box;
     resize: none;
 }
 
 .rewt>input {
     width: 35%;
     height: 2.98em;
     max-width: 40%;
     margin-left: 32.5%;
     margin-right: 32.5%;
     margin-top: 0.13%;
     border: 0.15em solid #115a3b;
     border-radius: 0.3em;
     font: 95% 'Robobto';
     color: #969ba0;
     text-indent: 2%;
     background-color: #191a19;
     display: block;
     position: relative;
     object-position: center;
 }
 
 .rewt>input:hover {
     animation: none;
     background-color: #191a19;
     font: 95% 'Robobto';
     color: #969ba0;
     border: 0.23em solid #16955f;
     border-radius: 0.4em;
     transition: ease-in-out;
     transition-duration: 0.55s;
     text-decoration: none;
 }
 
 .rewt a {
     width: 12.13em;
     height: 1.02em;
     max-width: 500px;
     margin-left: 42%;
     margin-top: 0.5%;
     margin-bottom: 0%;
     padding: 1em;
     border: 2px;
     border-radius: 0.25em;
     font: 100% "verdana";
     background-color: #115a3b;
     color: #80817b;
     text-decoration: none;
     text-align: center;
     display: inline-block;
 }
 
 .rewt a:hover {
     border: 0.18em solid #16955f;
     border-radius: 0.4em;
     cursor: pointer;
 }
 
 .tet a {
     color: #198859;
     margin-left: 5%;
     margin-top: 1em;
     text-align: center;
     text-decoration: none;
     font: 100% "verdana";
 }
 /* ################THIS IS THE CSS CODE FOR THE STATUS PAGE ########################*/
 
 .tolo {
     background-repeat: no-repeat;
     background-size: contain;
     background-color: #191a19;
     width: 100%;
     height: 100%;
     margin: 0%;
     padding: 0%;
     border: none;
     overflow-x: hidden;
     overflow-y: hidden;
     animation: none;
 }
 
 .Logt {
     width: 94.5em;
     height: 14.5em;
     padding: 0px;
     margin-bottom: 1.5%;
     border: none;
     position: relative;
     overflow: hidden;
 }
 
 .img-flask {
     width: 12.5em;
     height: 12.5em;
     padding: 0px;
     margin-left: 1%;
     background-color: #191a19;
     border-radius: 400em;
     border: none;
     position: relative;
     overflow: hidden;
     display: inline-block;
     align-self: stretch;
 }
 
 .img-flask img {
     width: 10.5em;
     height: 10.5em;
     border-radius: 400em;
     object-fit: fill;
 }
 
 .Logt h3 {
     background: transparent;
     margin-left: 0.1px;
     margin-top: 2.8em;
     color: #115a3b;
     font: 2em "Verdana";
     display: inline-block;
     position: absolute;
     align-self: center;
     text-align: center;
 }
 
 .tolo input[type=text] {
     width: 27.3em;
     height: 2.95em;
     max-width: 500px;
     margin-left: 7%;
     margin-top: 0.13%;
     border: none;
     border-bottom: 0.15em solid #115a3b;
     font: 13px "verdana";
     color: #ddded6;
     text-indent: 3px;
     background-color: #191a19;
     position: relative;
     object-position: center;
     display: inline-block;
 }
 /* ################THIS IS THE STYLING FOR THE CHAT PAGE################################ */
 
 .conto {
     margin: 0%;
     padding: 0%;
     background-size: cover;
     background-color: #a39e9e3b;
 }
 
 .top {
     width: 100%;
     height: 5%;
     background-color: #a39e9e3b;
 }
 /*.top>navbar-brand {
     width: 7%;
     height: 7%;
     padding: 1%;
     margin-left: 38%;
     background-color: #191a19;
     border: none;
     align-content: center;
     overflow: none;
 }*/
 
 .top>img {
     width: 5%;
     height: 5%;
     border-radius: 100%;
     object-fit: fill;
 }
 /*.mid-body {
     width: 100%;
     height: 100%;
     background-color: #a39e9e3b;
     border: 3px;
     align-items: center;
     width: 90%;
     max-width: 100%;
     margin: 0%;
     overflow-x: 5%;
     justify-content: center;
 }
 
 .mid-body::-webkit-scrollbar {
     border-radius: 3.5%;
     width: 3px;
     background: #4042422a;
 }
 
 .mid-body::-webkit-scrollbar-thumb {
     opacity: 3px;
 }
 
 .mid-body>i {
     width: 15%;
     color: #115a3b;
 }*/
 
 .top>input {
     position: relative;
     float: right;
 }
 
 .nav {
     position: fixed;
     bottom: 0;
     width: 100%;
     max-width: 100%;
     height: 5%;
     padding: 0;
     text-align: center;
     box-shadow: 0 0 3px #00000033;
     background-color: #191a19;
     display: flex;
     overflow: hidden;
 }
 
 .nav>a {
     margin: 0;
     display: flex;
     flex-direction: column;
     text-align: center;
     flex-grow: 0.5;
     overflow: hidden;
     white-space: nowrap;
     font-family: "Ubuntu" cursive;
     font-size: 130%;
     color: #16955f;
     text-decoration: none;
     /* -webkit-top-highlight-color: transparent;*/
 }
 
 .nav>a:hover,
 .nav>a:active,
 .nav>a:focus {
     background-color: #16955f;
     font-family: "Ubuntu" cursive;
     font-size: 140%;
     color: #191a19;
     border: none;
     transition: 0.55s ease-in-out;
 }
 /*.nav>a>img {
     margin: 1%;
     width: 10%;
     height: 90%;
     text-decoration: none;
 }*/