/* responsiveness of the full out-look of the website*/

* {
    margin: 0;
    padding: 0;
    max-zoom: 100%;
    min-zoom: 1%;
}


/* Styling of the full body of the web-pages and the scroll-bar*/

.bako,
.fako {
    background: url("Tea-Cup.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-blend-mode: darken;
}

.bako::-webkit-scrollbar {
    background-color: #494444;
    height: 100vh;
    width: 12px;
    opacity: .5;
}


/*.bako::-webkit-scrollbar-button,*/

.bako::-webkit-scrollbar-thumb {
    max-width: 5px;
    background-color: #f552ac;
}


/* styling of the home page plus other attributes and features */

.intro {
    width: 100%;
    text-align: center;
}

.intro>.first {
    color: #af2d74;
    font-size: 500%;
    max-zoom: 100%;
}

.intro>.secnd {
    color: #dfd9d9;
    font-size: 100%;
}


/* styling for home-page button */

.click {
    position: relative;
    background-color: #494444;
    opacity: 0.5;
    
}


/* Styling of the navigation-Bar */

.container {
    background-color: #494444d5;
    text-align: center;
    box-shadow: 5px #413d3def;
}

.container>.nav-list {
    list-style: none;
    display: flex;
}

.container>.nav-list>li {
    width: 12%;
    margin: 15px;
    padding: 15px;
}

.container>.nav-list>li>a {
    margin: 15px;
    padding: 20px;
    text-decoration: none;
    color: #f552ac;
}

.container>.nav-list>li>a:hover {
    background: #494444;
    color: #f552ac;
    border-radius: 3px;
    transition: 0.55s ease-in-out;
}

.sub-menu {
    display: none;
}

.container>.nav-list>li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #494444;
    margin-top: 15px;
    margin-left: 37px;
}

.container>.nav-list>li:hover .sub-menu>ul {
    display: block;
    margin: 10px;
}

.container>.nav-list>li:hover .sub-menu>ul>li {
    list-style: none;
    width: inherit;
    margin: 15px;
    border-bottom: 1px dotted #f552ac;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.container>.nav-list>li:hover .sub-menu>ul>li:last-child {
    border-bottom: none;
}

.container>.nav-list>li:hover .sub-menu>ul>li>a {
    text-decoration: none;
    color: #f552ac;
    font-family: Verdana;
}

.container>.nav-list>:hover .sub-menu>ul>li>a:hover {
    margin-left: 10px;
    transition: 0.55s ease-in-out;
}

.case {
    bottom: 0;
}


/* Responsiveness of the main-body of the EVENTS page */

.main-part {
    background-color: #817b7f;
    position: center;
    overflow-y: 10px;
}

.main-part>img {
    width: 15%;
}

.main-part>p {
    font-size: 97%;
}